
footer {
    position: absolute;
    width: 1200px;
    height: 170px;

    left: 0px;
    top: 2166px;
    background: #464547;
}

footer img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 145px;
    top: 19px;

}

.project {
    position: absolute;
    width: 92px;
    height: 16px;
    top: 21px;
    left: 181px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}

footer i {
    position: absolute;
    width: 174px;
    height: 33px;
    top: 51px;
    left: 140px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */

    color: rgba(255, 255, 255, 0.4);
}

footer a {
    position: absolute;
    width: 142px;
    height: 22px;
    top: 90px;
    left: 140px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */


    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.copyright {
    position: absolute;
    width: 243px;
    height: 20px;
    top: 112px;
    left: 140px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */


    color: rgba(255, 255, 255, 0.4);
}