body {
    position: relative;
    width: 1200px;
    height: 2336px;
    background: #FFFFFF;
}

* {
   /* border: 1px solid red; */
}

.hero {
    position: absolute;
    width: 1315px;
    height: 822px;
    left: -116px;
    top: -22px;

    background-image: url(../assets/background1.png);
    background-size: cover;
    background-position: center;
}

.hero img {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 685px;
    top: 274px;
}

.hero h1{
    position: absolute;
    width: 386px;
    height: 118px;
    left: 523px;
    top: 328px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    
    text-align: center;
    
    color: #FFFFFF;
}

.hero h2 {
    position: absolute;
    width: 426px;
    height: 56px;
    left: 503px;
    top: 488px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: rgba(255, 255, 255, 0.7);
}

main {
    position: absolute;
    width: 1200px;
    height: 700px;
    left: 0px;
    top: 800px;

    background: #EEEEEE;
}

main h2 {
    position: absolute;
    width: 669px;
    height: 119px;
    left: 265px;
    top: 87px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #464547;
}

main h3 {
    position: absolute;
    width: 426px;
    height: 57px;
    left: 387px;
    top: 246px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #666666;
}

main p {
    position: absolute;
    width: 983px;
    height: 194px;
    left: 97px;
    top: 351px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    text-align: center;

    color: #000000;
}

main button {
    position: absolute;
    width: 115px;
    height: 36px;
    left: 542px;
    top: 566px;

    background: #55C2D8;
    border-radius: 18px;
 
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.lmore {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 0px;
    top: 1372px;

    background: url(../assets/background2.png);
    background-size: cover;
    background-position: center;
    margin-top: 128px;
    margin-bottom: 6px;
}

.lmore h2 {
    position: absolute;
    width: 480px;
    height: 117px;
    top: 84px;
    left: 360px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;
}

.lmore h3 {
    position: absolute;
    width: 390px;
    height: 102px;
    top: 474px;
    left: 395px;
  

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;
}

.lmore button {

    position: absolute;
    width: 150px;
    height: 150px;
    top: 254px;
    left: 525px;
    
    color: #FFFFFF;
    background: #39C2D7;
    border-radius: 50%50%;
}

footer {
    position: absolute;
    width: 1200px;
    height: 170px;
    left: 0px;
    top: 2166px;

    background: #464547;
}
